{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('/', user) }}
<div class="container">
  <p id="info"> {{info_div}}</p>
  <!-- HIDDEN -->
  <div class="text-center mt-3 border border-dark border-3 text-white bg-success bg-opacity-50" id= "jugada_usuario" >
    <h2>That was great, {{jugadas[jugadas.length-1].name}}!  Your score is {{jugadas[jugadas.length-1].score}}/3  ({{jugadas[jugadas.length-1].percentage}}%).</h2>
  </div>
  <div class="row mt-5 ">
    <div class=" border border-3 border-dark col-md-5 offset-md-3 text-center p-3 bg-secondary bg-opacity-25 fs-6">
      <a href="/lets_play" class=" btn btn-primary shadow mb-3" >Play!</a>
      <p>Click the button above to start the trivia game.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4 offset-md-6">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 border border-3 border-dark mt-4">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
          <th scope="col">Percentage</th>
        </tr>
      </thead>
      <tbody>
        {% for jugada in jugadas %}
          <tr>
            <td>{{jugada.name}}</td>
            <td>{{jugada.score}}/3</td>
            <td>{{jugada.percentage}}%</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<script>
//console.log('index index index', info_div)
  function div (){ // aparecer verde
  let div_verde = document.querySelector('#jugada_usuario')    
  div_verde.removeAttribute('hidden')
}
const info_div= document.querySelector('#info')
console.log('probando ando ando', info_div.innerHTML)
  if(info_div.innerHTML != 'false'){
    console.log('no es falsooooooooo')    
  } 
  else{
    div()
  }

</script>

{% endblock %}