{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('/', user) }}
<!-- <h2 class="text-center">Hola {{ user.name }}</h2> -->
<div class="container">

  <div class="text-center mt-3 border border-dark text-white bg-success jugada_usuario" >
    <h2>{{jugadas[jugadas.length-1].user_id}}</h2>
    <h2>Genial {{jugadas[jugadas.length-1].name}} - {{jugadas[jugadas.length-1].score}}/3 - {{jugadas[jugadas.length-1].percentage}}%</h2>
  </div>
  <div class="row mt-5">
    <div class=" border border-dark col-md-5 offset-md-3 text-center p-3 bg-secondary bg-opacity-50 fs-6">
      <a href="/lets_play" class=" btn btn-primary shadow-lg">Play!</a>
      <p>Click the button above to start the trivia game.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4 offset-md-6">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
          <th scope="col">Percentage</th>
        </tr>
      </thead>
      <tbody>
        {% for jugada in jugadas %}
          <tr>
            <!-- <td>{{jugadas.name}}</td> -->
            <td>{{jugada.name}}</td>
            <td>{{jugada.score}}/3</td>
            <td>{{jugada.percentage}}%</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

<script>
  const div_verde = document.querySelector('.jugada_usuario')
  // for(let i=0;i<)

  if (div_verde.innerHTML == 'true') {
    // const bton_add = document.querySelector('.btn_add')
    div_verde.removeAttribute('hidden')
  }
</script>
{% endblock %}